extends layout

block content
    h1 Login
    form(method='POST')
        div.form-group
            label(for='username') Username Email:
            input#username.form-control(type='text', placeholder='Enter Username Email.' name='username' required)
        div.form-group
            label(for='password') Password:
            input#password.form-control(type='text', placeholder='Enter Password.' name='password' required)
        button.btn.btn-primary(type='submit') Login
    if errors
        ul
            for error in errors
                li!= error.msg